
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #f1f6fc31;
}

section, footer{
    padding: 54px 0;
}

h3{
    font-size: 50px;
}

p{
    color: #0000009c;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.btn{
    background-color: #4f9cf9;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}

.btn.animate-btn{
    animation: animate-outline 1s ease-out infinite;
}

.btn:hover{
    background-color: #3580db;
}

@keyframes animate-outline {
    from {
        box-shadow: 0 0 0 0px #4f9cf9;
    }
    to {
        box-shadow: 0 0 0 15px #4f9bf900;
    }
}

header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul a{
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}

nav ul a:not(.btn):after{
    content: "";
    background-color: #4f9cf9;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

nav ul a:hover::after{
    width: 100%;
}

.banner{
    display: flex;
    justify-content: center;
}

.banner .banner-text .img-banner .logo{
    width: 500px;
    height: auto;
}

.banner .banner-text{
    margin: 100px;
    text-align: center;
    padding: 0 90px;
}

.banner .banner-text h1{
    font-size: 77px;
    color: #004B96;
}

.banner .banner-text h2{
    font-size: 65px;
    color: #D00808;
}

.banner .banner-text p{
    font-size: 20px;
    color: #ffffffb7;
    font-weight: lighter;
    margin: 18px 0;
}

/* Cuidafos */
.cuidamos .container{
    display: flex;
    align-items: center;
}

.cuidamos .cuidamos-text{
    width: 50%;
    padding: 0 40px;
}

.cuidamos .cuidamos-text h3{
    font-size: 45px;
}

.cuidamos .cuidamos-text p{
    margin: 20px 0 20px 0;
    font-size: 17px;
}

.cuidamos .cuidamos-img{
    width: 50%;
}

.cuidamos .cuidamos-img img{
    width: 100%;
}

/* Atividades */
.atividades .container{
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%; 
}

.atividades .carousel-text{
    width: 50%;
    padding: 0 40px;
}

.atividades .carousel-text h3{
    font-size: 45px;
}

.atividades .carousel-text p{
    margin: 20px 0 20px 0;
    font-size: 17px;
}

.carousel {
    position: relative;
    max-width: 600px; /* Ajuste o tamanho conforme necessário */
    margin: 0 auto;
    overflow: hidden;
  }
  
.carousel-images {
    position: relative;
    display: flex;
    transition: transform 0.4s ease;
}
  
.carousel-images img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
  


